html {
    text-align: justify;
    font-family: Arial;
    font-size: 16px;
    color:#454545;
    line-height: 1.4;
    background-color:#FEFEFE;
}
  
body {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
}
  
div.navigation {
    list-style-type: none;
    background-color: #454545;
    position: fixed;
    max-width: 800px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
div.titlebar {
    text-align: center;
    max-width: 800px;
    max-height: 200px;
}

input {
    text-align: center;
    border-style: none solid none none;
    border-color: #FEFEFE;
    background-color: #454545;
    color: white;
    border: white;
    width: 10%;
    overflow: hidden;
    line-height: 1.4;
    font-size: 16px;
    margin: 0;
    padding: 1em;
}

input[type=submit] {
    border-style: none;
    background-color: #006699;
}

li {
    float: left;
}
  
li a {
    display:block;
    padding:8px;
    color:#FEFEFE;
    text-decoration:none;
}

a:link {
    color:#006699
}

a:visited {
    color:#0066
}

form {
    float: left;
}